---
import Header from "../components/Header.astro";
import Layout from "../layouts/Layout.astro";
---

<Layout>
  <main class="w-full max-w-sm sm:max-w-xl md:max-w-3xl min-h-screen px-4 py-8">
    <Header />
  </main>
</Layout>
