---
import Avatar from "./ui/Avatar.astro";
import ThemeBtn from "./ui/ThemeBtn.astro";
---

<header class="flex flex-col items-center gap-2">
  <Avatar />
  <h1 class="font-title text-2xl font-bold">Alejandro Guzmán</h1>
  <h2 class="font-body">Desarrollador Web Fullstack</h2>
  <ThemeBtn />
</header>

<style>
  header {
    height: 2000px;
  }
</style>
