<h1 class="font-title">Hola, soy Alejandro Guzmán</h1>
<p class="font-body">Este es mi portafolio profesional</p>
<button id="theme-toggle">Theme</button>

<script>
  import { initThemeToggle } from "../scripts/theme-toggle";
  initThemeToggle();
</script>
