---
import Sun from "../../icons/Sun.astro";
import Moon from "../../icons/Moon.astro";
---

<button
  id="theme-toggle"
  aria-label="Toggle Theme"
  class="p-1.5 bg-secondary border-primary border-2 rounded-full cursor-pointer opacity-70 hover:opacity-100 transition-all duration-300"
>
  <Moon />
  <Sun />
</button>

<script>
  import { initThemeToggle } from "../../scripts/theme-toggle";
  initThemeToggle();
</script>
